.container {
  margin-left: 30px; 
  margin-top: 50px; 
}
.ui.raised.very.padded.segment.navbar {
  margin: auto;
  width: 82%;
  padding-top: 26px;
  padding-bottom: 42px;
  margin-top: 20px;
  border: none;
}
.ui.teal.inverted.segment.home {
  margin-top: 20px; 
}
.ui.container.form-container {
  margin: auto;
  width: 35%;
  margin-top: 125px;
}
.ui.label.username-label, 
.ui.label.password-label {
  margin-bottom: 5px;
  width: 133px;
  height: 30px;
  padding-top: 9px;
}
.ui.button.submit-button {
  background-color: blue;
  color: white; 
}